* {
    margin: 0;
    padding: 0;
}

:root {
    --color-primary: #08A6E4;
    --color-primary-shadow: rgba(7, 172, 230, .16);
    --color-redish: #fb3b64;
    --color-green: #55DFB4;
    --color-black: #000000;
    --color-gray: #A5A5A5;
    --color-light-gray: #F7F7F7;
    --color-white: #FFFFFF;
    --cont-width: 1352px;

}

.raleway {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

.raleway300 {
    font-weight: 300;
}  

.raleway400 {
    font-weight: 400;
}  

.raleway700 {
    font-weight: 700;
} 

.raleway800 {
    font-weight: 800;
} 


.open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

.open-sans300 {
    font-weight: 300;
}

.open-sans400 {
    font-weight: 400;
}

.open-sans700 {
    font-weight: 700;
}

.container {
    width: var(--cont-width);
    box-sizing: border-box;
    margin: 0, auto;
}

p {
    font-family: "Open sans";
    line-height: 2em;
}
.logo {
    color: var(--color-primary);
    font-family: "Raleway";
    font-size: 2em;
}

.nav {
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid var(--color-gray);
    position: absolute;

    
}
.menu li {
    display: inline-block;
    padding: 1em auto;
}

.menu li a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--color-gray);
    font-family: "Raleway";
    padding: 1em 0 1em 3em;
}

.banner {
    background-image: url(./assets/Background.png);
    height: 50vh;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;

}

.navigation {
    flex-direction: column;
    text-align: center;
}

h1 {
    font-size: 3em;
    padding: 2em 0 1em 0;
}

h2, h3 {
    font-family: "Raleway";
}

h2 {
    font-size: 2em;
    
}

.btn {
    border-radius: 30px;
    padding: 20px 100px;
    background-color: var(--color-primary);
    color: var(--color-white);
    text-decoration: none;
    font-family: "Open sans";
    display: inline-block;
    box-shadow: 10px 10px 15px var(--color-primary-shadow);
    margin: 2em;
}

.statistics {
    text-align: center;
    background-color: var(--color-white);
    padding: 3em 0;
        
}

.statistics-text {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    margin: 3em, auto;
    gap: 50px;
    
}

.statistics-text article {
    width: 150px;
}

.circle {
    width: 3em;
    height: 3em;
    border-radius: 50%;
}

.red {
    background-color: var(--color-redish);
}

.blue {
    background-color: var(--color-primary);
}

.green {
    background-color: var(--color-green);
}

.icon {
    display: flex;
    justify-content: center;
}

.benefits {
    background-color: var(--color-light-gray);
    padding: 5em;
        
}
.container .benefit {
    justify-content: center;
}
.benefit {
    display: flex;
    background-color: var(--color-white);
    margin: 2em;
    border-radius: 5px;
    width: 1000px;   
    padding: 10px; 
    border: 1px solid var(--color-gray);
    
}
.image img {
    height: 10em;
        
}
.image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.text {
    width: 50%;
    padding: 20px;
}

.reverse {
    flex-direction: row-reverse;
}

.benefit-gap {
    display: flex;
    width: 1000px;
    gap: 20px;
    justify-content: space-between;
}

.benefit-gap .text {
    background-color: var(--color-white);
    margin: 0 2em;
    border-radius: 5px;
}
div.image.green {
    width: 30%;
    border-radius: 5px;
}




.footer {
    display: flex;
    justify-content: space-between;
}


