* {
    margin: 0;
    padding: 0;
}

:root {
    --color-primary: #08A6E4;
    --color-primary-shadow: rgba(7, 172, 230, .16);
    --color-redish: #fb3b64;
    --color-green: #55DFB4;
    --color-black: #000000;
    --color-gray: #A5A5A5;
    --color-light-gray: #F7F7F7;
    --color-white: #FFFFFF;
    --font-raleway: "Raleway", sans-serif;
    --font-open-sans: "Open Sans", sans-serif;
    --button-radius: 35px;
}

/* PÍSMA, JE NUTNÉ JE TU MÍT?
.raleway {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

.raleway300 {
    font-weight: 300;
}  

.raleway400 {
    font-weight: 400;
}  

.raleway700 {
    font-weight: 700;
} 

.raleway800 {
    font-weight: 800;
} 

.open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

.open-sans300 {
    font-weight: 300;
}

.open-sans400 {
    font-weight: 400;
}

.open-sans700 {
    font-weight: 700;
}
*/

* {
    box-sizing: border-box;
}

body {
    font-family: var(--font-open-sans);
}

a {
    text-decoration: none;
}

.container {
    width: 1352px;
    margin: 0 auto;
}


.logo {
    color: var(--color-primary);
    font-family: "Raleway";
    font-size: 2em;
}

.nav {
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid var(--color-gray);
    position: absolute;

    
}
.menu li {
    display: inline-block;
    padding: 1em auto;
}

.menu li a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--color-gray);
    font-family: "Raleway";
    padding: 1em 0 1em 3em;
}

.banner {
    background-image: url(./assets/Background.png);
    height: 50vh;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;

}

.navigation {
    flex-direction: column;
    text-align: center;
}

h1 {
    font-size: 3em;
    padding: 2em 0 1em 0;
}

h2 {
    font-family: var(--font-raleway);
    font-size: 2em;
    text-align: center;
}


    


.btn {
    border-radius: 30px;
    padding: 20px 100px;
    background-color: var(--color-primary);
    color: var(--color-white);
    text-decoration: none;
    font-family: "Open sans";
    display: inline-block;
    box-shadow: 10px 10px 15px var(--color-primary-shadow);
    margin: 2em;
}

.statistics {
    background-color: var(--color-white);
    padding: 3em 0;
}

.statistics__container {
    display: flex;
    justify-content: space-around;
    max-width: 800px;
    margin: 100px auto 120px;     
}

.statistics__single {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 160px;
}

.circle {
    width: 3em;
    height: 3em;
    border-radius: 50%;
    position: relative;
}

.red {
    background-color: var(--color-redish);
}

.blue {
    background-color: var(--color-primary);
}

.green {
    background-color: var(--color-green);
}

.circle img {
    position: absolute;
    top: 0;
    left: 50%;
}

.bold-nmb {
    font-size: 2em;
    letter-spacing: 0.2em;
    font-weight: 800;
    margin-top: 15px;
}

.gray-small {
    color: var(--color-gray);
    margin-top: 15px;
}


.benefits {
    background-color: var(--color-light-gray);
    padding: 5em;
}

.benefits__container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1000px;
    gap: 50px;
    
}

.benefit {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    /* flex-grow: 1;
    gap: 20px;
    max-height: 300px; */
}

.image {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.image img {
    max-width: 300px;
    align-items: center;
}

.text h2 {
    text-align: left;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}


.footer {
    display: flex;
    justify-content: space-between;
}

.first, .second {
    background-color: var(--color-white);
    padding: 30px;
    border-radius: 5px;
}

.second {
    flex-direction: row-reverse;
}

.third .text {
    background-color: var(--color-white);
    padding: 30px;
}


.pricing__container {
    display: flex;
    margin: 0 auto;
    align-items: center ;
    
    
}

.pricing__single {
    max-width: 300px;
    text-align: center;
    border: 1px solid black;
    position: relative;
}